name: sanity check
run-name: ${{ github.actor }} is running sanity check
on: [push]
jobs:
  Eslint:
    runs-on: self-hosted
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
      - run: echo "The ${{ github.ref }} branch is being used for npm."
      - run: npm ci
      - run: echo "Instalation of npm packages is complete. ready to run ESLint."
      - name: run ESLint
        run: |
          npm run lint ${{ github.workspace }}
      - run: echo "ESLint has been run."
      - run: echo "This job's status is ${{ job.status }}."
